task.wait(5)
  local id = game.PlaceId
spawn (function()
    	print("Geting game")
    	wait(1)
    	print(game.PlaceId)
    	wait(1)
    	print("Getting character and userid")
    	wait(1)
    	print(game.Players.LocalPlayer)
    	print(game.Players.LocalPlayer.UserId)
    	wait(1)
    	print("Script is loading!")
    	wait(2)
    	print("Loaded!")
    	print("Enjoy :D PinPoint#6969")
    	if game.PlaceId == 4042427666 then
    		_G.farm = true
    		game:GetService("RunService").RenderStepped:Connect(function()
    			while _G.farm == true do
    				wait()
    				game.Players.LocalPlayer.Character.HumanoidRootPart.CFrame = game:GetService("Workspace").MouseIgnore.ChikaraCrate.ClickBox.CFrame
    				fireclickdetector(game:GetService("Workspace").MouseIgnore.ChikaraCrate.ClickBox.ClickDetector)
    			end
    		end)
    	elseif game.PlaceId == 8135501124 then
    		local pl = game.Players.LocalPlayer.Character
    
    		pl:MoveTo(game:GetService("Workspace")["Timer_Start"].Position)
    		wait()
    		pl:MoveTo(game:GetService("Workspace")["Timer_Pause"].Position)
    		repeat wait() until game:IsLoaded()
    
    elseif id == 1458767429 then
        spawn (function()
	game:GetService("RunService").RenderStepped:Connect(function()
		local args = {
		    [1] = "ban",
		    [2] = "Shunsui"
		}
		game:GetService("Players").LocalPlayer.PlayerGui.BanChooser.rem:FireServer(unpack(args))
	end)

            game:GetService("RunService").RenderStepped:Connect(function()  
                print("auto kill initiated")
                task.wait()
                game.Players.LocalPlayer.Character.Humanoid.Health = 0
            end)
        end)
        game:GetService("RunService").RenderStepped:Connect(function()
        print("Auto teleport intiated")
        task.wait(200)
        game:GetService("TeleportService"):Teleport(2008032602, game.Players.LocalPlayer)
        end)
    elseif id == 2008032602 then
        game:GetService("RunService").RenderStepped:Connect(function()
            print("Auto join into game initiated!!")
            task.wait(2)
            local args = {
                [1] = true
            }
            
            game:GetService("ReplicatedStorage").Place:FireServer(unpack(args))
        end)
        elseif game.PlaceId == 3177438863 then
spawn (function()
	local Library = loadstring(game:HttpGet("https://raw.githubusercontent.com/xHeptc/Kavo-UI-Library/main/source.lua"))()
	local Window = Library.CreateLib("PinPoint Hub [🔥10X POWER!] Dragon Blox", "DarkTheme")
	local Tab = Window:NewTab("Main 🙄")
	local Section = Tab:NewSection("Down below are all the stuff, click them to use.")
	Section:NewButton("Rejoin Game😁", "Rejoins game", function()
		game:GetService("TeleportService"):Teleport(game.PlaceId, game.Players.LocalPlayer)
	end)
	Section:NewButton("Force Reset Character😂", "Forces your character to reset", function()
		game.Players.LocalPlayer.Character.Humanoid.Health = 0
	end)
	Section:NewButton("Invisibility Cheat(Recomended)😎", "makes u invisible so no one sees you!", function()
		game.Players.LocalPlayer.Character.HumanoidRootPart.CFrame = CFrame.new(1573.9082, 565.248413, 1271.72937, 0.981167018, 0.0114290854, -0.192822844, -0.0118412524, 0.999929428, -0.000985192601, 0.192797959, 0.00324990228, 0.98123312)
		task.wait(1)
		for i,v in pairs (game:GetService("Players").LocalPlayer.Character:GetDescendants()) do 
			if v.Name == "Root" then
				v:Destroy()
			end
		end
	end)
	Section:NewButton("Redeem Codes😊", "Redeems all the codes in games.", function()
		--("Clicked the redeem codes button.")
			local args = {
				[1] = {
					["UniqueTag"] = "RedeemCode",
					["InputText"] = "January2022FREEREBIRTH!",
					["InputType"] = "Text",
					["LeftButton"] = "Redeem",
					["Description"] = "Redeem Code",
					["Prompt"] = "RedeemCode",
					["RightButton"] = "Cancel",
					["Title"] = "Codes"
				},
				[2] = "Redeem"
			}

			game:GetService("ReplicatedStorage").Aero.AeroRemoteServices.Props.PromptService.Prompt:FireServer(unpack(args))
			task.wait(1)
			local args = {
				[1] = {
					["UniqueTag"] = "RedeemCode",
					["InputText"] = "January2022FREESKILLRESET!",
					["InputType"] = "Text",
					["LeftButton"] = "Redeem",
					["Description"] = "Redeem Code",
					["Prompt"] = "RedeemCode",
					["RightButton"] = "Cancel",
					["Title"] = "Codes"
				},
				[2] = "Redeem"
			}

			game:GetService("ReplicatedStorage").Aero.AeroRemoteServices.Props.PromptService.Prompt:FireServer(unpack(args))
			
	end)
	getgenv().strength = false

	Section:NewToggle("Autofarm strength😮", "Autofarm's Strength :)", function(state)
		getgenv().strength = state
		game:GetService("RunService").RenderStepped:Connect(function()
			if getgenv().strength then
				--("Strength Toggled On")
					local args = {
						[1] = "Combat",
						[2] = true,
						[3] = CFrame.new(Vector3.new(1827.7650146484, 583.13201904297, 1268.0100097656), Vector3.new(0.84511774778366, -0.3167482316494, -0.43063503503799)),
						[4] = CFrame.new(Vector3.new(1838.3289794922, 577.69268798828, 1262.6270751953), Vector3.new(0.89164888858795, 1.9323691091699e-08, -0.45272755622864)),
						[5] = CFrame.new(Vector3.new(1833.9211425781, 574.75280761719, 1258.5329589844), Vector3.new(0.43763408064842, -0.59559738636017, -0.67360246181488)),
						[7] = workspace:FindFirstChild("World Map").Islands:FindFirstChild("Kame Island").Island.Path.Part,
						[8] = {
							["Type"] = 0
						}
					}

					game:GetService("ReplicatedStorage").Remotes.SkillRemote:FireServer(unpack(args))

					task.wait()

					local args = {
						[1] = "Combat",
						[2] = false,
						[3] = CFrame.new(Vector3.new(1827.7650146484, 583.13201904297, 1268.0100097656), Vector3.new(0.84511774778366, -0.3167482316494, -0.43063503503799)),
						[4] = CFrame.new(Vector3.new(1838.3289794922, 577.69268798828, 1262.6270751953), Vector3.new(0.89164888858795, -1.3407563059786e-08, -0.45272755622864)),
						[5] = CFrame.new(Vector3.new(1833.9211425781, 574.75280761719, 1258.5329589844), Vector3.new(0.43763408064842, -0.59559738636017, -0.67360246181488)),
						[7] = workspace:FindFirstChild("World Map").Islands:FindFirstChild("Kame Island").Island.Path.Part,
						[8] = {
							["Type"] = 1,
							["Hit"] = {}
						}
					}

					game:GetService("ReplicatedStorage").Remotes.SkillRemote:FireServer(unpack(args))
								
			else
				--("Strength toggled off")
			end
		end)
	end)
	getgenv().time = false
	Section:NewToggle("Spam teleport to Time Chamber🤣", "Keeps teleporting you to the time chamber", function(gamer)
		getgenv().time = gamer
		game:GetService("RunService").RenderStepped:Connect(function()
			if getgenv().time then
				--("Toggle On Spam Time chamber teleporter")
				game.Players.LocalPlayer.Character:MoveTo(game:GetService("Workspace")["World Map"]["Multiplier Zones"]["Floating Palace"]["Time Chamber"]["Time Chamber"]["Main Structure"]["Meshes/The better 2"].Position)
			else
				--("Toggle Off Spam teleport to Time Chamber")
			end
		end)
	end)
	getgenv().rebirth = false
	Section:NewToggle("Auto Rebirth😶", "Automatically rebirths", function(reb)
		getgenv().rebirth = reb
		game:GetService("RunService").RenderStepped:Connect(function()
			if getgenv().rebirth then
				--("Toggle On auto rebirth")
				game:GetService("ReplicatedStorage").Aero.AeroRemoteServices.StatsService.RebirthUp:FireServer()
			else
				--("Toggle Off auto rebirth")
			end
		end)
	end)
		getgenv().spr = false
	Section:NewToggle("Auto Sprint😫", "Sprints automatically everytime", function(sprint)
		getgenv().spr = sprint
		game:GetService("RunService").RenderStepped:Connect(function()
			if getgenv().spr then
				local args = {
					[1] = true
				}

				game:GetService("ReplicatedStorage").Aero.AeroRemoteServices.Props.FlightService.Sprint:FireServer(unpack(args))
			end
		end)	
	end)
	local Section = Tab:NewSection("Put shortform of the form u wanna auto transform.")

	Section:NewButton("Untransform😱", "Untransforms from your mode", function()
		local args = {
			[1] = "Off"
		}

		game:GetService("ReplicatedStorage").Aero.AeroRemoteServices.Props.ModeTransformService.Transformation:FireServer(unpack(args))
	end)		
	getgenv().trans = false
	Section:NewTextBox("Mode to transform 😪", "select mode u wanna auto transform (BETA)", function(txt)
		print(txt)
			 Section:NewToggle(txt.. " 😏", "auto transforms to : ".. txt, function(tran)
		 	getgenv().trans = tran
		 	game:GetService("RunService").RenderStepped:Connect(function()
				if getgenv().trans then
					print(txt)
					local args = {
						[1] = txt
					}

					game:GetService("ReplicatedStorage").Aero.AeroRemoteServices.Props.ModeTransformService.Transformation:FireServer(unpack(args))
									
				else
					-- ok cool
				end
			end)
		end)
	end)

end)
elseif game.PlaceId == 6284583030 then
spawn (function()
	local Library = loadstring(game:HttpGet("https://raw.githubusercontent.com/xHeptc/Kavo-UI-Library/main/source.lua"))()
	local Window = Library.CreateLib("PinPoint Hub [👾 GLITCH] Pet Simulator X!", "DarkTheme")
	local Tab = Window:NewTab("Tools 🙄")
	local Section = Tab:NewSection("Down below are all the stuff, click them to use.")
	Section:NewButton("Force Reset Character😂", "Forces your character to reset", function()
		game.Players.LocalPlayer.Character.Humanoid.Health = 0
	end)
	Section:NewButton("Rejoin Game😁", "Rejoins game", function()
		game:GetService("TeleportService"):Teleport(game.PlaceId, game.Players.LocalPlayer)
	end)
	Section:NewButton("Redeem codes", "Redeems all the available codes", function()
			local args = {
				[1] = {
					[1] = "404roblox"
				}
			}

			workspace.__THINGS.__REMOTES:FindFirstChild("redeem twitter code"):InvokeServer(unpack(args))
            task.wait(0.5)
            local args = {
				[1] = {
					[1] = "1Mfollowers"
				}
			}

			workspace.__THINGS.__REMOTES:FindFirstChild("redeem twitter code"):InvokeServer(unpack(args))
		
	end)
	Section:NewButton("Invisibility (SERVER SIDED)😎", "makes u invisible so no one sees you!", function()
		game.Players.LocalPlayer.Character.HumanoidRootPart.CFrame = CFrame.new(7.22901487, -495.650085, -16.4065838, 0.99999702, 3.00422656e-08, -0.00243705721, -2.99241911e-08, 1, 4.84857559e-08, 0.00243705721, -4.84126872e-08, 0.99999702)
		task.wait(1)
		for i,v in pairs (game:GetService("Players").LocalPlayer.Character:GetDescendants()) do 
			if v.Name == "Root" then
				v:Destroy()
			end
		end
	end)
    getgenv().nothing = false
    Section:NewTextBox("Egg to hatch", "hatches egg", function(txt)
        Section:NewToggle(txt, "opens " .. txt , function(state)
            nothing = state
            game:GetService("RunService").RenderStepped:Connect(function()
                if nothing then
                    local args = {
                        [1] = {
                            [1] = txt,
                            [2] = false
                        }
                    }

                    workspace.__THINGS.__REMOTES:FindFirstChild("buy egg"):InvokeServer(unpack(args))
                else
                    
                end
            end)
        end)
    end)
    
end)

     end
            
end)

